<div class="block"><nav-bar></nav-bar></div>
<div class="block">
  <div class="column is-5-tablet is-4-desktop is-3-widescreen">
  <form method="POST" [formGroup]="loginGroup" class="box">
    <div class="field">
      <label for="" class="label">Username</label>
      <div class="control has-icons-left">
        <input type="email" placeholder="e.g. myusername" name="username" formControlName="username" class="input" required>
        <span class="icon is-small is-left">
          <i class="fa fa-envelope"></i>
        </span>
      </div>
    </div>
    <div class="field">
      <label for="" class="label">Password</label>
      <div class="control has-icons-left">
        <input type="password" formControlName="password" name="password" placeholder="*******" class="input" required>
        <span class="icon is-small is-left">
          <i class="fa fa-lock"></i>
        </span>
      </div>
    </div>
    <div class="field">
      <label for="" class="label">Access Token</label>
      <textarea class="textarea is-info" readonly>{{token}}</textarea>
    </div>
    <div class="field">
      <button class="button is-success" (click)="requestToken()">
        Get Token
      </button>
    </div>
  </form>
</div>
</div>
<!-- <section class="hero is-fullheight">
  <div class="hero-body">
    <div class="container">
        <div class="column is-5-tablet is-4-desktop is-3-widescreen">

        </div>
    </div>
  </div>
</section> -->
