
<div class="block">
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="#" routerLink="/">
        <h1 class="title is-4">
          Genset Monitoring
        </h1>
      </a>

      <a (click)="toggleNavbar()" role="button" #navBurger class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu" #navMenu *ngIf="login">
      <div class="navbar-start">

        <a class="navbar-item" href="#" routerLink="/home">
          Home
        </a>
        <a class="navbar-item" href="#" routerLink="/maps">
          Maps
        </a>
        <a class="navbar-item" href="#" routerLink="/access_token">
          Request Access Token
        </a>
        <a class="navbar-item" href="#" routerLink="/add_users" *ngIf="user_type != 'user' && user_type != ''">
          Add User
        </a>
      </div>

      <div class="navbar-end">
        <div class="navbar-item" *ngIf="login">
          <a href="#" routerLink="/logout" class="button is-success">Logout</a>
          <!-- <button class="button is-primary" (click)="logout()">Logout</button> -->
        </div>
      </div>
    </div>
  </nav>
  </div>
